<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PinMAPS</title>
    <link rel="stylesheet" type="text/css" href="../styles/shared.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
  </head>
  <body>
    <ul class="navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="/entries">Entries</a></li>
      <li><a href="/memories">Memories</a></li>
      <li><a href="/aboutus">About Us</a></li>
    </ul>
    <div class="header">
      <div class="container">
        <h1><span>PinMaps</span></h1>
        <p>All your travel memories in one place</p>
      </div>
    </div>
    <section>
    <div id="everything">
      <h2> Do you ever wish you can keep track of your travel memories,<br>
        photos, and journal entries all on one map? Well now you can! </h2>
      <h3> PinMaps' Features Include:</h3>
      <ul>
        <li>Inputting multiple pins on a map of where you've been</li>
        <li>Map can zoom in or out and you can drag to navigate</li>
        <li>Pins inputted on the map can be dragged for accuracy </li>
        <li>Form that lets you input details about your trips
          including locations, dates, journal entries, and media links </li>
        <li>Logging in to save your travel data</li>
      </ul>
    </div>
    </section>
  </body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyAELBYV90wqQlPDkzYMFtOZ7Yhrf0DWTiY",
    authDomain: "citrushack2021-18177.firebaseapp.com",
    projectId: "citrushack2021-18177",
    storageBucket: "citrushack2021-18177.appspot.com",
    messagingSenderId: "884759726081",
    appId: "1:884759726081:web:1795457b2cb751af06d800",
    measurementId: "G-KR18EFEY7B"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  
</script>
</html>
